{
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "bash .lint-staged-frontend.sh",
    "prettier --write"
  ],
  "backend/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix --config eslint.config.mjs",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ]
}

